.title hr{
	width: 10%;
	justify-content: center;
}

.skills h3 {
	color: rgba(251,145,41,1);
}

.Contact a {
	text-decoration: none;
}

.Contact span{
	background: rgba(251,145,41,0.1); 
	border: 1px solid rgba(251,145,41,1);
	padding: 10px;
	border-radius: 20%; 
	margin: 0px 10px 0px 0px;
}