.title hr{
	width: 10%;
	justify-content: center;
}

.skills h3 {
	color: rgba(251,145,41,1);
}

.skills .parentContent {
	list-style-type: "→";
}
.skills ul .parent::marker{
	color:  rgba(251,145,41,1);
	font-size: 30px;
	
} 