#header{
	min-height:70vh; 
	justify-content: center;
	display: flex;	
	padding: 0;
}

#header02{ 
	min-height: 10vh;
}


#header03 .mylink{
	background: rgba(251,145,41,0.8); 
	color: white;
  	transition-timing-function: ease-out; 
  	transition: .4s;
	font-weight:normal;
}

#header03 .mylink:hover{
	background: white;
	border: 1px solid;
	color: #0A0E27;
}
#header03 .mylink2{
	background-color:#0A0E27; 
	color: white;
  	transition-timing-function: ease-out; 
  	transition: .4s;
	font-weight:normal;
}

#header03 .mylink2:hover{
	background: white;
	border: 1px solid;
	color: #0A0E27;	
}
