@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
  /*background: #f1f1f1;*/
  color: #0A0E27;
  font-family:poppins, sans-serif;
}

#header01{
  background: white;
}

a{
  color: #0A0E27;
}

a:hover{
  color: rgba(251,145,41,1);
}

h1{
  font-size: 60px;
  line-height: 72px;
  color: #0f0d19;
  font-weight: 700;
  font-weight: bold;
}

.Logo h4{
  font-size:30px;
  font-weight: 700;
}

.Logo .span1{
  background-color:#0A0E27;
  color: white;
}

.Logo .span2{
  background: #FB9129;
  color: white;
}



p{
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
  color:  #0f0d19;
}

.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #FB9129; ;
}

.svg-icon circle {
  stroke: #FB9129; ;
  stroke-width: 1;
}

.icons{
  border: 1px solid;
  bottom: 30px;
}
.iconspecial{
  width:450px;
  height:450px
}


@media only screen and (max-width: 1387px) {
  #header02{
    display: none;
  }

  h1{
    font-size: 40px;
    line-height: 52px;
    color: #0f0d19;
    font-weight: 700;
    font-weight: bold;
  }
}

@media only screen and (min-width: 1387px) {
  #header002{
    display: none;
  }
}


hr{
  color:  #FB9129;
  border: 2px solid  #FB9129;
  width: 60%;
}

@media only screen and (max-width: 948px) {
  .imgcontent{
    display: none;
  }
}