@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
  /*background: #f1f1f1;*/
  color: #0A0E27;
  font-family:poppins, sans-serif;
}

h1{
  font-size: 60px;
  line-height: 72px;
  color: #0f0d19;
  font-weight: 700;
  font-weight: bold;
}

p{
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
  color:  #0f0d19;
}



/*f0628d


7e4ea1



eb4593*/